<%include partials/header%>

<h1> Select form </h1>


<form method="post" action="">
 
<select name="exemple">
	<option value="ibfghfghfg">ib</option>
	<option value="nat">nat</option>
</select>

 <input type="submit" value= strUser >
 <br>
 <br>



</form>
<%include partials/footer%>






